{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">


    <title>Punny</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <link href="http://sliptree.github.io/bootstrap-tokenfield/dist/css/tokenfield-typeahead.css" rel="stylesheet">
    <link href="http://sliptree.github.io/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/bootstrap-homepage.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://sliptree.github.io/bootstrap-tokenfield/dist/bootstrap-tokenfield.js"
            charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'js/javascript-template.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fonticonpicker.min.js' %}"></script>

</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    {#                    <h3 class="masthead-brand">Punny</h3>#}
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="#" id="newPunButton"><span class="glyphicon glyphicon-pencil"></span></a></li>
                                <li><a href="profile/{{ user.username }}"><span><img
                                        src="{{ user.userprofile.picture }}"
                                        class="img-circle" width="40px"></span> {{ user.username }}</a>
                                    {% else %}
                                <li><a href="{% url 'auth_login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <img width="45%" height="45%" src="{% static 'images/Big.svg' %}">
                <h1 class="cover-heading">Punny</h1>
                <p class="lead">Welcome to Punny, the number one place to post, read and rate puns!</p>
                <form class="navbar-form" action="/punny/search/" method="post">
                    {% csrf_token %}
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control"
                                   placeholder="Search for a tag or a user" id="_q" name="q"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row" style="padding-top: 50px">
                <div class="col-sm-4">
                    <div class="punposted">
                        <h4>Top pun today</h4>
                    </div>
                    <div class="punOf">
                        Well that joke was waffle!
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="punposted">
                        <h4>Top pun this week</h4>
                    </div>
                    <div class="punOf">
                        Yours was crepe!
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="punposted">
                        <h4>Top pun this month</h4>
                    </div>
                    <div class="punOf">
                        I don't know if you heard but, whiteboards are remarkable!
                    </div>
                </div>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Punny 2016 ©</p>
                </div>
            </div>

        </div>

    </div>

<div class="col-sm-12 col-md-15 main" style="background-color: transparent">
    <div>
        <form id="newPunForm" method="post" class="form-horizontal"
              style="display: none; padding-left: 2%; padding-right: 2%" action="/punny/">
            {% csrf_token %}
            <div class="form-group" style="color: #999999;">
                    {{ form.puntext }}
                <label id="count" style="padding-top: 5px;">Characters left: 350</label>

                {{ form.tags }}
                <script>
                    $('#tokenfield').tokenfield({
                        autocomplete: {
                            source: [],
                            delay: 100
                        },
                        showAutocompleteOnFocus: true
                    })
                </script>

                <label style="padding-top: 10px;">
                    {{ form.NSFW }}
                    Pun is NSFW
                </label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Post</button>
            </div>
        </form>

        {% block body_block %}


        {% endblock %}
    </div>
</div>


</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>