{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}

    <link href="{% static 'css/bootstrap-userprofile.css' %}" rel="stylesheet">

    <div class="container">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading lightBeigeBackground">
                    <h3 class="panel-title">{{ page_user.first_name }} {{ page_user.last_name }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"
                                                                            src="{{ userprofile.picture.url }}"
                                                                            class="img-circle img-responsive"
                                                                            width="125px"></div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Username:</td>
                                    <td>{{ page_user.username }}</td>
                                </tr>
                                <tr>
                                    <td>Title:</td>
                                    <td>{{ userprofile.selected_title.title }}</td>
                                </tr>
                                <tr>
                                    <td>Score</td>
                                    <td>{{ user_score }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="timeline" id="timeline">

            {% for pun in puns %}
                {#                         <li class="list-group-item"><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>#}
                {% if forloop.counter|divisibleby:2 %}
                    <li class="timeline-inverted">
                        {% else %}
                    <li>
                {% endif %}
            <div class="timeline-panel">
            {% if user.is_authenticated %}
                <div class="box">
                    {% if pun.upvoted == True %}
                        <div class="upbutton" upvoteurl="/punny/{{ pun.id }}/rate/1"
                             style="color: lightgreen!important;">&#9650;</div>
                        <div class="voteLabel" id="score">{{ pun.score }}</div>
                        <div class="downbutton" downvoteurl="/punny/{{ pun.id }}/rate/-1" class="down">&#9660;</div>
                    {% elif pun.downvoted == True %}
                        <div class="upbutton" upvoteurl="/punny/{{ pun.id }}/rate/1" href="/punny/{{ pun.id }}/rate/1"
                             class="up">&#9650;</div>
                        <div class="voteLabel" id="score">{{ pun.score }}</div>
                        <div class="downbutton" downvoteurl="/punny/{{ pun.id }}/rate/-1"
                             style="color: lightcoral!important;">&#9660;</div>
                    {% else %}
                        <div class="upbutton" upvoteurl="/punny/{{ pun.id }}/rate/1" href="/punny/{{ pun.id }}/rate/1"
                             class="up">&#9650;</div>
                        <div class="voteLabel" id="score">{{ pun.rating.likes }}</div>
                        <div class="downbutton" downvoteurl="/punny/{{ pun.id }}/rate/-1" class="down">&#9660;</div>
                    {% endif %}
                </div>
            {% endif %}
                <div class="timeline-pun">
                    <h4>“{{ pun.text }}"</h4>
                </div>

                <div class="timeline-tags">
                    {% for tag in pun.tags.all %}
                        <a href="/punny/tag/{{ tag.text }}">#{{ tag.text }}</a>
                    {% endfor %}

                    {#                        <a href="search.html">#jesus</a> <a href="search.html">#christianity</a>#}
                    {#                        <a href="search.html">#bible</a>#}
                </div>
                <div class="timeline-user">
                    <div class="row">
                        <span>
                        <img class="userImage" src="{{ pun.profile.picture.url }}">
                    </span>
                        <span>
                        <p>
                            <a href="/punny/profile/{{ pun.owner.username }}">{{ pun.owner.username }}</a>
                            <span class="label label-default">
                            {{ pun.profile.selected_title }}
                        </span>
                        </p>
                    </span>
                    </div>
                    <div class="row">
                        <span class="label label-default"></span>
                    </div>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">{{ pun.timeStamp }}</p>
                </div>
            </div>
            </li>
            {% endfor %}
        </ul>
{% endblock %}