{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}

    <link href="{% static 'css/bootstrap-userprofile.css' %}" rel="stylesheet">

    <div class="container">
        <div class="row">
            {#            <div class="col-md-5  toppad  pull-right col-md-offset-3 ">#}
            {#                <A href="edit.html">Edit Profile</A>#}
            {##}
            {#                <A href="edit.html">Logout</A>#}
            {#                <br>#}
            {#                <p class=" text-info">May 05,2014,03:00 pm </p>#}
            {#            </div>#}
            {#            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">#}

            <div class="panel panel-info">
                <div class="panel-heading lightBeigeBackground">
                    <h3 class="panel-title">{{ user.first_name }} {{ user.last_name }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"
                                                                            src="{{ userprofile.picture }}"
                                                                            class="img-circle img-responsive"
                                                                            width="125px"></div>

                        <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                          <dl>
                            <dt>DEPARTMENT:</dt>
                            <dd>Administrator</dd>
                            <dt>HIRE DATE</dt>
                            <dd>11/12/2013</dd>
                            <dt>DATE OF BIRTH</dt>
                               <dd>11/12/2013</dd>
                            <dt>GENDER</dt>
                            <dd>Male</dd>
                          </dl>
                        </div>-->
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Username:</td>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <td>Title:</td>
                                    <td>{{ t.title }}</td>
                                </tr>
                                <tr>
                                    <td>Score</td>
                                    <td>{{ user_score }}</td>
                                </tr>

                                </tr>

                                </tbody>
                            </table>
                            {##}
                            {#                                <a href="#" class="btn btn-primary">My Sales Performance</a>#}
                            {#                                <a href="#" class="btn btn-primary">Team Sales Performance</a>#}
                        </div>
                    </div>
                </div>
                {#                    <div class="panel-footer">#}
                {#                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button"#}
                {#                           class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>#}
                {#                        <span class="pull-right">#}
                {#                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button"#}
                {#                               class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>#}
                {#                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button"#}
                {#                               class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>#}
                {#                        </span>#}
                {#                    </div>#}

            </div>
            {#            </div>#}
        </div>
        <ul class="timeline">
            {% for pun in puns %}
                {#                         <li class="list-group-item"><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>#}
                {% if forloop.counter|divisibleby:2 %}
                    <li class="timeline-inverted">
                        {% else %}
                    <li>
                {% endif %}
            <div class="timeline-panel">
                <div class="box">
                    {% if pun.upvoted == True %}
                        <div style="color: lightgreen!important;">&#9650;</div>
                        <div class="voteLabel" id="score">{{ pun.score }}</div>
                        <a href="/punny/{{ pun.id }}/rate/-1" class="down">&#9660;</a>
                    {% elif pun.downvoted == True %}
                        <a href="/punny/{{ pun.id }}/rate/1" class="up">&#9650;</a>
                        <div class="voteLabel" id="score">{{ pun.score }}</div>
                        <div style="color: lightcoral!important;">&#9660;</div>
                    {% else %}
                        <a href="/punny/{{ pun.id }}/rate/1" class="up">&#9650;</a>
                        <div class="voteLabel" id="score">{{ pun.rating.likes }}</div>
                        <a href="/punny/{{ pun.id }}/rate/-1" class="down">&#9660;</a>
                    {% endif %}


                </div>
                <div class="timeline-pun">
                    <h4>“{{ pun.text }}"</h4>
                </div>

                <div class="timeline-tags">
                    {% for tag in pun.tags.all %}
                        <a href="/punny/tag/{{ tag.text }}">#{{ tag.text }}</a>
                    {% endfor %}

                    {#                        <a href="search.html">#jesus</a> <a href="search.html">#christianity</a>#}
                    {#                        <a href="search.html">#bible</a>#}
                </div>
                <div class="timeline-user">
                    <div class="row">
                        <span>
                        <img class="userImage" src="https://33.media.tumblr.com/avatar_9b679cdc9a64_128.png">
                    </span>
                        <span>
                        <p>
                            <a href="search.html">{{ pun.owner.username }}
                            </a>
                        </p>
                    </span>
                    </div>
                    <div class="row">
                        <span class="label label-default"></span>
                    </div>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">{{ pun.timeStamp }}</p>
                </div>
            </div>
            </li>

            {% endfor %}
        </ul>

    </div>



{% endblock %}