{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} posts with the tag {{ tag.text }}{%  endblock %}

{% block body_block %}
    {% if tag %}

        <h2>Puns under #{{ tag.text }}</h2>

        <ul class="timeline" id="timeline">

        {% for pun in puns %}
            {#                         <li class="list-group-item"><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>#}
            {% if forloop.counter|divisibleby:2 %}
                <li class="timeline-inverted">
                    {% else %}
                <li>
            {% endif %}
        <div class="timeline-panel">
        {% if user.is_authenticated %}
                <div class="box">
                    {% if pun.upvoted == True %}
                        <div class="upbutton" upvoteurl="/punny/{{ pun.id }}/rate/1" style="color: lightgreen!important;">&#9650;</div>
                        <div class="voteLabel" id="score">{{ pun.score }}</div>
                        <div class="downbutton" downvoteurl="/punny/{{ pun.id }}/rate/-1" class="down">&#9660;</div>
                    {% elif pun.downvoted == True %}
                        <div class="upbutton" upvoteurl="/punny/{{ pun.id }}/rate/1" class="up">&#9650;</div>
                        <div class="voteLabel" id="score">{{ pun.score }}</div>
                        <div class="downbutton" downvoteurl="/punny/{{ pun.id }}/rate/-1" style="color: lightcoral!important;">&#9660;</div>
                    {% else %}
                        <div class="upbutton" upvoteurl="/punny/{{ pun.id }}/rate/1" class="up">&#9650;</div>
                        <div class="voteLabel" id="score">{{ pun.rating.likes }}</div>
                        <div class="downbutton" downvoteurl="/punny/{{ pun.id }}/rate/-1" class="down">&#9660;</div>
                    {% endif %}
                </div>
        {% endif %}
                <div class="timeline-pun">
                    <h4>“{{ pun.text }}"</h4>
                </div>

                <div class="timeline-tags">
                    {% for tag in pun.tags.all %}
                        <a href="/punny/tag/{{ tag.text }}">#{{ tag.text }}</a>
                    {% endfor %}

                    {#                        <a href="search.html">#jesus</a> <a href="search.html">#christianity</a>#}
                    {#                        <a href="search.html">#bible</a>#}
                </div>
                <div class="timeline-user">
                    <div class="row">
                        <span>
                        <img class="userImage" src="{{ pun.picture.url }}">
                    </span>
                        <span>
                        <p>
                            <a href="search.html">{{ pun.owner.username }}
                            </a>
                        </p>
                    </span>
                    </div>
                    <div class="row">
                        <span class="label label-default"></span>
                    </div>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">{{ pun.timeStamp }}</p>
                </div>
            </div>
        </li>

        {% endfor %}
    {% else %}
        <h2>There are currently no puns tagged with #{{ tag.text }}</h2>
    {% endif %}

<li class="clearfix no-float"></li>
</ul>

{% endblock %}